html {
  font-family: "Courgette", cursive;
  background-color: #f8f8f8;
}
header {
  margin-left: 45%;
  display: inline-block;
  margin-bottom: 30px;
}
header h1{
    margin-top: 50px;
    margin-bottom: 5px;
}
header span{
    margin: 60%;
    color: red;
    font-size: 24px;
}
.design__types ul {
    max-width: 80%;
  }
.design__types ul {
  list-style-type: none;
  display: flex;
    gap: 20px;
    padding: 0;
    margin: 0 auto;
}
.design__types ul li {
  background-color: white;
  border-radius: 6px;
  width: 33%;
}
.line {
  display: block;
  padding: 1px;
  background-color: red;
}
.design__types ul li h4,p,div {
  display: inline-block;
  text-align: center;
}
.design {
  display: inline-block;
  width: 100%;
}
.design img {
  width: 100%;
  height: 300px;
  margin: 0;
  border-radius: 6px 6px 0 0;
}
.content{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.content a{
    color: black;
    text-decoration: none;
}
.content a i{
    color: red;
}
.content h4{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 28px;
}
.content p{
    margin-bottom: 40px;
}
