@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
ul[role="list"],
ol[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

html{
    font-family: 'Lato', sans-serif;
    color: #4d5b6c;
}
h1, span{
    font-family: 'Montserrat', sans-serif;
}

.simple{
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
}
.simple .wrapper{
    display: flex;
    gap: 50px;
}
.simple .wrapper div{
    width: 500px;
    height: 280px;
}
.simple .wrapper .left{
    background-color: #e3f3fd;
    padding: 30px 20px;
    border-radius: 6px;
}
.simple .wrapper .left h1{
    font-weight: 600;
    margin-bottom: 20px;
}
.simple .wrapper .left li{
    margin-bottom: 10px;
}
.simple .wrapper .left li i{
    color: #53b0f8;
    margin-right: 10px;
}
.simple .wrapper .right{
    text-align: center;
    border: 6px solid #53b0f8;
    border-radius: 6px;
}
.simple .wrapper .right p:first-child{
    margin-top: 50px;
}
.simple .wrapper .right p span{
    color: #53b0f8;
    font-size: 40px;
    font-weight: 600;
}
.simple .wrapper .right p{
    margin-bottom: 30px;
}
.simple .wrapper .right button{
    color: white;
    background-color: #53b0f8;
    border: none;
    font-size: 14px;
    height: 30px;
    width: 35%;
    border-radius: 6px;
    cursor: pointer;
}

