@media screen and (max-width:600px) {
    .w3-hide-small{
        display: none;
    }
    .w3-col.m6{
        width: 100%;
    }
    .w3-padding-large .w3-large{
        font-size: 24px;
    }
    .w3-col.l6{
        width: 100%;
    }
    #menu .w3-col.w3-padding-large:first-child{
        width: 100%;
    }
    #menu .w3-col.w3-padding-large h4{
        font-size: 30px;
    }
    #menu .w3-col.w3-padding-large p{
        font-size: 19px;
    }
    .w3-container p{
        font-size: 19px;
    }

}