@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
html {
    margin: 0;
    padding: 0;
  font-family: "Open sans";
  background-color: #e9e9e9;
}
body{
    padding: 0;
    margin: 0;
}
main {
  background-color: #fafafa;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  width: 700px;
  height: 400px;
}
.left {
  color: 
  #e8f4f2;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)),
    url(./image/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 50%;
}
.left :not(span){
    text-align: center;
}
.left span{
    display: inline-block;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 100px;
    font-weight: bold;
}
.left h1,p{
    font-weight: 300;
    margin: 0;
    padding: 0;
}
.left h1{
    font-size: 28px;
}
.left p{
    font-size: 20px;
    margin-bottom: 150px;
}
.left ul{
   list-style-type: none;
   display: flex;
   gap: 20px; 
   padding: 0;
   justify-content: center;
}
.right{
    background-color: #fafafa;
    color: #a4adbb;
    height: 90%;
    width: 40%;
    margin: 15px auto;
}
.right form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.right form div:not(.button__action){
    display: flex;
    flex-direction: column;
}
.right form div label{
    margin-bottom: 10px;
    text-transform: uppercase;
}
.right form div input{
    background-color: #fafafa;
    border: none;
    border-bottom: 1px solid #dddddd
}
.right form div .button__action{
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;  
}
.button__action button{
    padding: 10px 20px;
    border-radius: 16px;
    text-transform: uppercase;
    color: #f2f9fe;
    background-color: 
    #111111;
    border: none;
    margin-right: 10px;
}
.button__action a{
    color: #b5b5b5;
    font-size: 14px;
}