div{
    background-color: lightgray;

    /* width: 200px;/*по този начин го правим като кутийка
    width: 50%; */
}
article{
    background-color: lightcyan;
    /* width: 100%;/* процентите наследяват от родителя тоест туке половината на родителя който е div */
    /* min-width: 700px;така се задава минимална широчина tака не може да се счупи и да overflowne */
    /* max-width: 400px; така width не се канселира просто като преминен на по малък екран примерно на телефон след това на компютър няма да се счупи */
    max-height: 700px;

    border: 1px solid black;
    margin-bottom: 40px;
    

    padding: 30px;
}
article h2{
    padding: 12px;
    /* border: 2px solid orangered; */
    /* това червеното е до къде стига падинга а червеното е границата края на нашия елемент */
    width: 50%;
    background-color: lightcoral;
    margin-right: auto;
    margin-left: auto;
}
article span{
    background-color: lightcoral;
    padding: 4px;
    margin: 8px;
    display: inline-block;
    width: 300px;
    height: 30px;
}
article p.tag{
    background-color: lightgreen;
    margin-bottom: 6px;
    padding: 4px;
    border-radius: 4px;
    display: inline-block;

    width: 100px;
    /* margin: 0 auto; */
}
article p{
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}